@font-face {
    font-family: "iconfont";
    /* Project id 3265927 */
    /* Color fonts */
    src:
        url('//at.alicdn.com/t/font_3265927_iwqd88kbmd.woff2?t=1647885682923') format('woff2'),
        url('//at.alicdn.com/t/font_3265927_iwqd88kbmd.woff?t=1647885682923') format('woff'),
        url('//at.alicdn.com/t/font_3265927_iwqd88kbmd.ttf?t=1647885682923') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 56rpx;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: "\e661";
}

.icon-blog:before {
    content: "\e660";
}

.icon-tel:before {
    content: "\e601";
}

.icon-github-fill:before {
    content: "\e885";
}

.icon-shanchu:before {
    content: "\e60a";
}

.icon-phone_circle_fill:before {
    content: "\e8cf";
}

.icon-geshizhuanhuan:before {
    content: "\e746";
}

.icon-liwu:before {
    content: "\e600";
}

.icon-auth:before {
    content: "\e634";
}

.icon-biaobai:before {
    content: "\e6af";
}

.icon-liwu1:before {
    content: "\e61f";
}

.icon-liwu2:before {
    content: "\e75d";
}

.icon-xiaoyuan-:before {
    content: "\e60f";
}

.icon-xiaoyuan-1:before {
    content: "\e611";
}

.icon-xiaoyuanyanchu:before {
    content: "\e617";
}

.icon-xiaoyuantoupiao:before {
    content: "\e618";
}

.icon-xiaoyuanchoujiang:before {
    content: "\e619";
}

.icon-xiaoyuandati:before {
    content: "\e61a";
}

.icon-xiaoyuanquanzi:before {
    content: "\e632";
}

.icon-xiaoyuanyuepao:before {
    content: "\e638";
}

.icon-xiaoyuanzulin:before {
    content: "\e639";
}

.icon-xiaoyuanyinle:before {
    content: "\e63a";
}

.icon-xiaoyuansongcan:before {
    content: "\e63b";
}

.icon-xiaoyuan:before {
    content: "\e6c8";
}

.icon-a-xiaoyuanfuwufuwudating:before {
    content: "\e61d";
}

.icon-xiaoyuanredian:before {
    content: "\e61e";
}

.icon-xiaoyuanditu-01:before {
    content: "\e66d";
}

.icon-xiaoyuantiaoyan-01:before {
    content: "\e67b";
}