<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wehgu.admin.mapper.MpOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wehgu.admin.entities.MpOrder">
        <id column="order_id" property="orderId" />
        <result column="order_uuid" property="orderUuid" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="order_status" property="orderStatus" />
        <result column="price" property="price" />
        <result column="user_location_uuid" property="userLocationUuid" />
        <result column="payment_mode" property="paymentMode" />
        <result column="if_pay" property="ifPay" />
        <result column="package_num" property="packageNum" />
        <result column="agent_uuid" property="agentUuid" />
        <result column="expected" property="expected" />
        <result column="deadline_time" property="deadlineTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, order_uuid, add_time, update_time, order_status, price, user_location_uuid,
payment_mode, if_pay, package_num, agent_uuid,expected,deadline_time
    </sql>
    <sql id="Order_Column_List">
        mo.order_id, mo.order_uuid, mo.add_time, mo.update_time, mo.order_status, mo.price, mo.user_location_uuid,
mo.payment_mode, mo.if_pay, mo.package_num, mo.agent_uuid,mo.expected,mo.deadline_time,
mul.user_detail_uuid,mul.delivery_location,mul.consignee,mul.consignee_telephone
    </sql>
    <select id="selectOrders" resultType="com.wehgu.admin.entities.vo.OrderVO">
        select
        <include refid="Order_Column_List"></include>
        from mp_order mo
        left join mp_user_location mul on mo.user_location_uuid=mul.user_location_uuid
        <trim prefix="where" prefixOverrides="and|or">
            <if test="input.userDetailUuid != null and '' != input.userDetailUuid">
                and mul.`user_detail_uuid` = #{input.userDetailUuid}
            </if>
            <if test="input.orderStatus != null and '' != input.orderStatus">
                and mo.`order_status` = #{input.orderStatus}
            </if>
            <if test="input.consignee != null and '' != input.consignee">
                and mul.`consignee` like CONCAT("%",#{input.consignee},"%")
            </if>
            <if test="input.consigneeTelephone != null and '' != input.consigneeTelephone">
                and mul.`consignee_telephone` = #{input.consigneeTelephone}
            </if>
            <if test="input.startTime != null ">
                and p.`add_time` <![CDATA[>=]]> #{input.startTime}
            </if>
            <if test="input.endTime != null">
                and p.`add_time` <![CDATA[<=]]> #{input.endTime}
            </if>
        </trim>
        order by mo.add_time desc
    </select>

</mapper>
